/* Default styles for game */
body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

h1 {
	font-size: 56px;
	color: #fff;
	margin-top: 0;
}

p {
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
}

canvas {
	background-color: black;
	display: block;
	width: 100%;
	max-width: 400px;
	height: auto;
}

#restartButton {
	margin-top: 10px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#restartButton:hover {
	background-color: #0056b3;
}

/* Media query for screens with max width of 600px */
@media (max-width: 600px) {
    body {
        padding: 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 150px;
    }

    p {
        font-size: 120px;
    }

    canvas {
        max-width: none;
        width: 100%;
    }
    #restartButton {
        font-size: 24px;
    }
}